 .instagram-slider {
  position: relative;
  padding: 0 0px; 
}

/* .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  width: 40px;
  height: 40px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
} */

.insta-arrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex !important;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.arrow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.insta-arrow svg {
  display: block;
  margin: 0 auto;
}

/* Mobile-specific adjustments */
@media (max-width: 768px) {
  .instagram-slider {
    padding: 0 0px;
  }
}

.slick-arrow {
  width: 40px;
  height: 40px;
  display: flex !important;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}
.slick-arrow:hover {
  background: white;
}
.slick-prev {
  left: -45px;
}
.slick-next {
  right: -45px;
}
.slick-prev:before,
.slick-next:before {
  display: none;
}
.slick-dots li button:before {
  color: #fa6e1c;
  opacity: 0.5;
  font-size: 10px;
}
.slick-dots li.slick-active button:before {
  color: #fa6e1c;
  opacity: 1;
}

@media (max-width: 768px) {
  .slick-prev {
    left: -35px;
  }
  .slick-next {
    right: -35px;
  }
}

@media screen and (max-width: 558px) and (min-width: 320px) {
  
}